{% extends 'base.html'%}
{% load static %}
{% block title%}Создание задачи{% endblock %}
{% block content%}
<div id='cal' class='calendar'>
    <p id="data"></p>
    <table id="calendar"></table>
    <div class="buttons">
        <button class='button' onclick="before()">Предыдущий</button>
        <button class='button' onclick="next()">Следующий</button>
    </div>
</div>
<div id='clock' class='clock' onclick='getTime(event, time, countTime, selectLi)'>
    <ul id='hours' class='clockValue'></ul>
    <ul id='minutes' class='clockValue'></ul>
    <button class='button' onclick="setTime()">Установить</button>
</div>
<div id='form' class='form position'>
    <form method="post">
        {% csrf_token %}
        <p>{{ form.topic }}</p>
        <p>{{ form.title }}</p>
        <p>{{ form.discription }}</p>
        <div class='mainFlip'>
            <span class='targFlip'>Дата и время <img class='arrow' src="{% static 'arrow.png'%}"></span>
            <ul class='secondFlip'>
                <li>{{ form.date }}</li>
                <li>{{ form.time }}</li>
            </ul>
        </div>
        <div class='mainFlip'>
            <span class='targFlip'>Дополнительные настройки <img class='arrow' src="{% static 'arrow.png'%}"></span>
            <ul class='secondFlip'> 
                <li>{{ form.important }} Важность</li>
            </ul>
        </div>
        <button type="submit">Отправить</button>
    </form>
<script src="{% static 'calendar.js'%}"></script>
{% endblock %}